html, body {
	height: 100%;
	margin: 0px auto;
	padding: 0px auto;
	overflow-x: hidden; 
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
}

.top_nav {
	background-color: black;
	color: black;
	text-align: center;
}

.top_nav_elements {
	width: 100%;
	padding: 20px;
	margin: auto;
	text-align: left;
}

.left_item {
	color: white;
	padding: 10px 20px;
	text-align: center;
	margin: 2px 0px;
	text-decoration: none;
}

.left_item:hover {
    background-color: #679B99;
    color: black;
    cursor: pointer;
}

.active {
    color: yellow;
}

.active:hover {
    color: white;
    background-color: #679B99;
    cursor: pointer;
}

.side_nav {
	display: none;
	background-color: white;
	width: 20%;
	height: calc(100% - 65px);
	float: left;
}

.side_nav_elements {
	padding: 5% 0%;
	color: black;
}

.side_nav_elements h3 {
	text-align: center;
}

.nav_div {
	width: 100%;
	padding: 10px 0px;
}

.nav_item {
	color: #05386B;
	padding: 10px;
	text-align: center;
	margin: 2px 0px;
	text-decoration: none;
}

.nav_div:hover {
	background-color: #679B99;
    color: black;
    cursor: pointer;
}

.bottom_div {
	position: absolute;
	bottom: 0;
}

.content_wrapper {
	position: relative;
	height: calc(100% - 65px);
	width: 100%;
	margin: 0px auto;
	padding: 0px auto;
	float: left;
	background-color: #5CDB95;
	background: url("images/road2.jpg") center no-repeat; 
	/*animation: animate-background linear 10s infinite;*/
	transition: background-position 2s ease 0s;
	overflow-y: scroll;
	text-align: center;
}


.data_entry {
	float: left;
	height: calc(100% - 65px);
	text-align: center;
	overflow-x: hidden; 
	display: none;
}

.data_entry h2 {
	font-size: 30px;
}

.data_entry input {
  width: 468px;
  position: relative;
}

.data_entry select {
  width: 490px;
  position: relative;
}

.data_entry span {
  margin: 5px;
  font-size: 24px;
}

.data_entry input, .data_entry select, .data_entry button {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.data_entry input[type=text], .data_entry select[type=text] {
  background-color: #f1f1f1;
}

.data_entry input[type=submit], .data_entry button {
  background-color: black;
  color: #fff;
} 

.data_entry > .front {
	position: absolute;
	background-color: transparent;
	padding: 2.5% 5%;
	width: 90%;
	height: 100%;
	transition: -webkit-transform 0.5s linear 0s;
}

.data_entry > .back {
	position: absolute;
	background-color: transparent;
	padding: 2.5% 5%;
	width: 90%;
	height: 100%;
	display: none;
	transition: -webkit-transform 0.5s linear 0s;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  text-align: center;
  align-items: center;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  color: black;
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.fuel_stations {
	position: relative;
	border: 10px red;
}

.fuel_station {
	width: 100%;
	height: 10%;
	border: 10px red;
}

.data_entry > .fuel_data {
	position: absolute;
	background-color: transparent;
	padding: 2.5% 5%;
	width: 90%;
	height: 100%;
}

.graph {
	position: relative;
	width: 100%;
	border: 1px solid transparent;
	padding: 10px;
	margin: 5px;
	font-size: 20px;
}

@media only screen and (max-width: 850px) {
  .side_nav {
  	display: none;
  }

  .content_wrapper {
  	width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .content_wrapper {
  	width: 560px;
  }

  .top_nav {
  	width: 560px;
  }
}








